# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env
.env
*.env

# Virtual environments
venv/
.env/
.venv/

# Jupyter and IPython
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test cache
.pytest_cache/
coverage/
htmlcov/
.tox/

# Docker
*.pid
*.pid.lock
docker-compose.override.yml

# MySQL volume (optional)
mysql_data/

# Data samples (optional)
*.csv
*.sql


# Others
*.bak
*.swp
